.scroll-bar {
    -fx-font-size: 20px;
    
}

.scroll-pane {
 -fx-background-color: #EFE7BE;
 -fx-background: #EFE7BE;

}

.pane{
	-fx-alignment: center;
}

.increment-button {
	-fx-background-color: #EFE7BE;
}

.decrement-button {
	-fx-background-color: #EFE7BE;
}

.track {
		-fx-background-color: #002635;
}

.thumb {
 -fx-background-color: #EFE7BE;
}

